h1 {
    text-align: center;
}
.card {
    text-align: center;
    border: 1px solid black;
    background-color: #ccc;
    transition: 0.2s all;
    border-radius: 0.5em;
}
.card:hover {
    transform: scale(1.1);
    background-color: #eee;
}

.card-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.search-field {
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
    margin-top: 0.5em;
    border-radius: 0.5em;
}

button {
    padding: 1em;
}